# version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PORT=${PORT}
      - MONGO_URI=${MONGO_URI}
      - APP_URL=${APP_URL}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
    volumes:
      - ./backend/uploads:/app/uploads
    # depends_on:
    #   - mongo
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_APP_URL: ${VITE_APP_URL}
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  # mongo:
  #   image: mongo:latest
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo-data:/data/db
  #   networks:
  #     - app-network
  


volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
